!!! 5
%html
  %head
    %title JS808
    %link{:href => "css/js808.css", :type => "text/css", :rel => "stylesheet"}
  %body
    %div#drum-machine
      %div#drums
        %div.tempo-wrapper
          %label{:for => "tempo"} Tempo
          %div.range-knob-wrapper
            %input#tempo{:type => "range", :value => "120", :min => "60", :max => "200"}
            %div.range-knob
        - drums = {1 => {:id => ["BD"], :name => ["BassDrum"], :knob1 => "Tone", :knob2 => "Decay"},
          2 => {:id => ["SD"], :name => ["SnareDrum"], :knob1 => "Tone", :knob2 => "Snappy"},
          3 => {:id => ["LC", "LT"], :name => ["LowConga", "LowTom"], :knob1 => "Tuning", :knob2 => false},
          4 => {:id => ["MC", "MT"], :name => ["MidConga", "MidTom"], :knob1 => "Tuning", :knob2 => false},
          5 => {:id => ["HC", "HT"], :name => ["HiConga", "HiTom"], :knob1 => "Tuning", :knob2 => false},
          6 => {:id => ["CL", "RS"], :name => ["CLaves", "RimShot"], :knob1 => false, :knob2 => false},
          7 => {:id => ["MA", "CP"], :name => ["MAracas", "ClaP"], :knob1 => false, :knob2 => false},
          8 => {:id => ["CB"], :name => ["CowBell"], :knob1 => false, :knob2 => false},
          9 => {:id => ["CY"], :name => ["CYmbal"], :knob1 => "Tone", :knob2 => "Decay"},
          10 => {:id => ["OH"], :name => ["OpenHihat"], :knob1 => "Decay", :knob2 => false},
          11 => {:id => ["CH"], :name => ["Cls'dHihat"], :knob1 => false, :knob2 => false}}
        - drums.sort.each do |key, val|
          %div.drum{:id => val[:id], :data => {:count => val[:id].count}}
            %label{:for => "vol#{key}"} Level
            %div.range-knob-wrapper
              %input.vol{:id => "vol#{key}", :type => "range", :min => "0", :max => "10", :value => "8"}
              %div.range-knob
            - if val[:knob1]
              %label{:for => "knob1#{key}"} #{val[:knob1]}
              %div.range-knob-wrapper
                %input.knob1{:id => "knob1#{key}", :type => "range", :min => "0", :max => "4", :value => "2"}
                %div.range-knob
            - if val[:knob2]
              %label{:for => "knob2#{key}"} #{val[:knob2]}
              %div.range-knob-wrapper
                %input.knob2{:id => "knob2#{key}", :type => "range", :min => "0", :max => "4", :value => "2"}
                %div.range-knob
            - val[:name].each_with_index do |name, index|
              - if index == 1
                %button.drum-toggle
              %h2 #{name}
      %div#name
        %h1
          Rhythm Composer
          %span JS808
        %h2 Computer Controlled
      %button#play 
        %span Start
        %span Stop
      %div#sequencer
        - (1..16).each do |i|
          %button{:data => {:pos => i}} &#9679;
            
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"}
    %script{:src => "js/js808.js"}